body {
    font-family: Arial, sans-serif;
}

.container {
    margin: 0 auto;
    width: 75vw;
    text-align: center;
}
.container h1 p {
    margin-top: 30px;
}

form#fetch input {
    margin-bottom: 10px;
}

form#clearframe input {
    margin-bottom: 10px;
}

form {
    text-align: center;
    margin-bottom: 0px;
}

option:nth-child(odd) {
    background: lightgray;
}

div.result_container {
    width: 100%;
    margin: 0 auto;
}

div.result_container p {
    padding: 10px;
    margin: 0 auto;
}

div.result_container p:nth-child(odd) {
    background: lightgray;
}

input#download {
    margin: 10px auto;
}

table {
    text-align: center;
    border-collapse: collapse;
    border: 1px black solid;
}

table th {
    padding: 3px;
}

table td {
    padding: 3px;
}

table tr:first-child {
    background: black;
    color: white;
}

table tr:nth-child(2n+3) {
    background: lightgray;
}