<html>
<head>
    <title>SteveLIS</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1><p>Welcome to SteveLIS</p></h1>
        <h3>Functional, definitely not pretty</h3>
        <form action="{{ url_for('fetch_results') }} " method="GET">
            <select name="run" title="run_selector">
                {% for run in run_list %}
                    <option value="{{ run[0] }}">{{ run[2] }}</option>
                {% endfor %}
            </select>
            <br><br>
            <input type="submit" value="Get run results">
            <br><br>
        </form>
        {% if results %}
        <div id="homebutton">
            <a id="home" href="{{ url_for('index') }}">Clear</a>
        </div>
        {% endif %}
        <div class="result_container">
            <form action="{{ url_for('download') }}" method="GET">
                {% if results %}
                    {%  include '_results.html' %}
                    <input id="download" type="submit" value="Download results">
                {% endif %}
            </form>
        </div>
    </div>
</body>
</html>